.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3vw;
}

.nav a:link,
.nav a:visited {
  text-decoration: none;
  color: var(--color-light--2);
  text-transform: uppercase;
  font-size: 1.5vw;
  font-weight: 600;
}

/* CSS Modules feature */
.nav a:global(.active) {
  color: var(--color-brand--2);
}

a.ctaLink:link,
a.ctaLink:visited {
  background-color: var(--color-brand--2);
  color: var(--color-dark--0);
  padding: 0.64vw 1.6vw;
  border-radius: 0.35vw;
}
@media (width < 1400px) {
  .nav a:link,
  .nav a:visited {
    font-size: 1.9vw;
    font-weight: 600;
    margin: 0.4vh;
  }

  .nav ul {
    gap: 1.3vw;
    padding-left: 1.2vh;
  }
}
